@media screen and (max-width:600px) {
    .content {
        width: 400px;
        height: 200px;
        top: 100px;
    
    }
    .box {
        width: 170px;
        height: 200px;
        line-height: 200px;
    }
}

@media  screen and (min-width:600px) {
    .content {
        width: 600px;
        height: 300px;
        top: 150px;
        
    }
    .box {
        width: 270px;
        height: 340px;
        line-height: 340px;
        font-size: .8em;
    }
}


        